:root {
  --primary-color: rgba(18, 47, 56, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 10px 60px;
  align-items: center;
  background-color: #343a40;
  justify-content: space-between;
}

.main-header a img {
  height: 80px;
  width: 160px;
  margin-top: -10px;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
}

.main-nav .main-nav__item {
  list-style: none;
  float: right;
  margin-top: 15px;
}

.main-nav .main-nav__item .main-nav__items {
  display: inline;
  padding: 0;
  margin: 0;
}

.main-nav .main-nav__item .main-nav__items a {
  padding: 30px 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 85%;
  font-weight: 200;
}

.main-nav .main-nav__item .main-nav__items a:hover {
  text-decoration: underline;
  opacity: 0.9;
}
.main-nav .main-nav__item .btn-danger a:hover {
  text-decoration: none !important;
}


#shocase .img-logo {
  display: inline;
}

#showcase .img-logo img {
  width: 300px;
  height: 150px;
  display: none;
}

.carousel-item {
  height: 600px;
}

.carousel-image-1 {
  background: url(../img/h1_hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

#home-icon .container .row .col-md-4 .img-fluid {
  height: 300px;
  width: 350px;
}

#features .container .col .text-center {
  padding: 0 8%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.whats-app img {
  margin-left: 80rem !important;
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 40px;
  left: 20px;
  background-color: #25d366;
  border-radius: 50px;
  font-size: 30px;
  z-index: 100; 
}

#cargo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.060);
  overflow: hidden;
  margin-bottom: 6rem !important;
}

#cargo .container p {
  padding: 0 8%;
}

#cargo .container .row .col-md-3 .img-fluid {
  height: 200px;
  width: 300px;
}

#cannett .container p {
  padding: 0 8%;
}

#cannett .container .row .col-md-3 .img-fluid {
  height: 200px;
  width: 300px;
}

.banner1 {
  border: 1px solid #222;
  height: auto;
}

#status {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
}

#status .success {
  background-color: chartreuse;
  animation: status 2s ease forwards;
}

#status .error {
  background-color: red;
  color: #fff;
  animation: status 2s ease delay forwards;
}

#main-footer .container .social-link .lead a {
  color: #fff;
  font-size: 1rem;
}

/* KEYFRAMES ANIMATIONS */

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Media qqueries */
@media(max-width:1024px) {
  .main-header {
    display: none;
  }
  #showcase .img-logo img {
    display: inline-block;
    margin: 0% !important;
  }
  .whats-app img {
    margin-left: 20rem !important;
    width: 30px;
    height: 30px;
    left: 23px;
}

@media(min-width: 657px) {
  body {
    display: block;
  }
}

@media(max-width:667px) {
  #showcase .carousel .carousel-inner .carousel-item .container .carousel-caption .display-3 {
    font-size: 50px;
    text-align: center;
  }
  form .form-group .input-group .input-group-prepend {
    display: none;
  }
  input[type=text],
  input[type=email],
  input[type=tel],
  form .form-group .input-group textarea {
    border: none !important;
    border-radius: 0 !important;
    font-size: 0.95rem !important;
}
  form .form-group .input-group textarea {
    height: 80px !important;
}
}

@media(max-width:400px) {
  #showcase .carousel .carousel-inner .carousel-item .container .carousel-caption .lead {
    font-size: 17px;
  }

  #showcase .carousel .carousel-inner .carousel-item .container .carousel-caption .display-3 {
    font-size: 40px;
    /* margin-bottom: 15%; */
  }

  #features .container .col .text-center {
    padding: 0 0;
  }
  #showcase .img-logo img {
    width: 200px;
    height: 100px;
  }
}

@media(max-width:320px) {
  #showcase .carousel .carousel-inner .carousel-item .container .carousel-caption .display-3 {
    font-size: 1.7rem;
  }
}

#map {
  text-align: center;
  width: 100%;
  height: 500px;
}
/* .banner1 img {
  width: 250px;
  height: 200px;
  margin: 0%;
  padding: 0%;
} */
/* .banner1 img, */
.banner1 h3 {
  animation: changeTextColor 400ms infinite;
}

/*Animations Using @keyframes*/
@keyframes wiggle {
  0% {
      transform: rotateZ(0);
  }
  50% {
      transform: rotateZ(3deg);
      color: blue;
  }
  100% {
      transform: rotateZ(-3deg);
      color: red;
  }
  200% {
      transform: rotateZ(3deg);
  }
}

@keyframes changeTextColor {
  0% {
      /* color: yellow; */
  }
  50% {
      color: blue;
      transform: scaleX(0.9);
  }
  100% {
      color: red;
  }
}
}