:root {
  --primary-color: rgba(18, 47, 56, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item {
  height: 600px;
}

.carousel-image-1 {
  background: url(../img/h1_hero.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#home-icon .container .row .col-md-4 .img-fluid {
  height: 200px;
  width: 300px;
}

#features .container .col .text-center {
  padding: 0 8%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

#cargo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.060);
  overflow: hidden;
}

#cargo .container .row .col-md-3 .img-fluid {
  height: 200px;
  width: 300px;
}

#status {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
}

#status .success {
  background-color: chartreuse;
  animation: status 2s ease forwards;
}

#status .error {
  background-color: red;
  color: #fff;
  animation: status 2s ease delay forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Media qqueries */
@media(min-width: 657px) {
  body {
    display: block;
  }
}

@media(max-width:667px) {
  #showcase .carousel .carousel-inner .carousel-item .container .carousel-caption .display-3 {
    font-size: 50px;
    text-align: center;
  }
}

@media(max-width:400px) {
  #showcase .carousel .carousel-inner .carousel-item .container .carousel-caption .lead {
    font-size: 17px;
  }

  #showcase .carousel .carousel-inner .carousel-item .container .carousel-caption .display-3 {
    font-size: 40px;
    margin-bottom: 20%;
  }

  #features .container .col .text-center {
    padding: 0 0;
  }
}